#contactBody {
  margin-top: 10%;
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-image: url(./images/blueBackground.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#contactSection {
  display: flex;
  justify-content: first baseline;
}

#form {
  display: flex;
  flex-direction: row;
}

#name,
#email,
#message {
  margin-top: 1em;
  border: lightgreen solid 2px;
}

#email {
  min-width: fit-content;
}

#submitBtn {
  color: black;
  font-weight: bold;
  background-color: lightgreen;
}

img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 35%;
  max-height: 35%;
  border: solid lightgreen 2px;
  padding: 20px 10px 20px 10px;
  margin-top: 3.5rem;
  margin-left: 10%;
  background-color: gray;
}

#header {
  margin-top: 4.5rem;
  white-space: nowrap;
  padding: 5px 70px 0px 4px;
  max-height: 35px;
  z-index: 5;
  font-size: x-large;
  color: lightgreen;
  background-color: black;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#info {
  display: flex;
  max-width: 500px;
  min-width: 300px;
  max-height: 100px;
  background-color: gray;
  text-align: center;
  padding-top: 1em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  margin-top: 6rem;
  margin-left: -10.5rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#contactBody,
#contactNavbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 10px;
}

#navbar-links ul li {
  list-style-type: none;
}

li a {
  font-size: 1.5rem;
  text-decoration: none;
  color: lightgreen;
}

.logo {
  font-size: 2rem;
}

.logo a {
  color: lightgreen;
  text-decoration: none;
}

.logo a:hover,
li a:hover {
  color: green;
}

#message {
  margin-top: 1em;
}
