* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.indexBody {
  background-image: url(./images/mountains.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body,
.photoBody,
.reviewBody,
.contactBody {
  animation: fadeIn ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.photoBody,
.pricingBody,
.reviewBody {
  background-image: url(./images/blueBackground.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-right: 2rem;
}

.logo {
  font-size: 2rem;
  margin: 0.5rem;
}

.logo a {
  color: lightgreen;
  text-decoration: none;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: lightgreen;
  padding: 0.5rem;
  display: block;
}

.navbar-links li a:hover {
  color: green;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: lightgreen;
  border-radius: 10px;
}

@media (max-width: 900px) {
  .toggle-button {
    display: flex;
  }
  .navbar-links {
    width: 100%;
    display: none;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .pricingContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pricing {
    margin-top: 1rem;
  }
}

.header {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 2.5rem;
}

.info {
  display: block;
  width: 35%;
  overflow-wrap: normal;
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  font-weight: bold;
  font-size: large;
  color: white;
}

.button {
  background-color: lightgreen;
  color: black;
  padding: 1rem;
  font-size: larger;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 3rem;
  margin-left: 2.5rem;
}

.button a {
  color: white;
  text-decoration: none;
}

.button:hover {
  background-color: green;
}

.logo a:hover {
  color: green;
}

.photoH1,
.pricingH1,
.reviewsH1 {
  font-size: 60px !important;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.container {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.photos {
  width: 550px;
  height: 425px;
  margin-bottom: 2rem;
  border-radius: 15px;
  transition: transform 0.7s ease-in-out;
}

.photos:hover {
  border: solid lightgreen 3px;
  transform: scale(1.2);
  z-index: 999;
}

.pricingContainer {
  margin-left: 15vw;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.checked,
.fa-star-half-o {
  color: lightgreen;
}

#order {
  width: 430px !important;
  height: 620px !important;
  border: solid lightgreen 3px;
}

.pricing {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 350px;
  height: 520px;
  background-color: lightslategrey;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
}

.pricing:hover {
  transform: scale(1.2);
  border: solid lightgreen 3px;
}

#priceLine1 {
  font-size: 40px;
  font-weight: bolder;
}

#priceLine2 {
  font-size: 65px;
  font-weight: bolder;
}

#priceLine3 {
  font-size: 25px;
}

#orderNowButton {
  display: none;
}

.pricing:hover #dollarSign {
  color: lightgreen;
}

.pricing:hover #orderNowButton {
  display: inline;
  background-color: lightgreen;
  font-weight: bolder;
  font-size: larger;
  width: fit-content;
  margin-top: 1rem;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

#reviewsSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.reviews {
  background-color: lightslategrey;
  width: 600px;
  height: fit-content;
  padding: 20px;
  margin: 50px;
  border-radius: 15px;
}

.reviews:hover {
  transform: scale(1.2);
  border: solid lightgreen 2px;
}

#reviewerIcon1 {
  content: url("https://img.icons8.com/doodle/48/000000/walter-white.png");
  float: left;
  margin-right: 15px;
}

#reviewerIcon2 {
  content: url("https://img.icons8.com/doodle/48/000000/homer-simpson.png");
  float: left;
  margin-right: 15px;
}

#reviewerIcon3 {
  content: url("https://img.icons8.com/doodle/48/000000/iron-man.png");
  float: left;
  margin-right: 15px;
}

#reviewerIcon4 {
  content: url("https://img.icons8.com/doodle/48/000000/scream.png");
  float: left;
  margin-right: 15px;
}
